<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bookstore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encode</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    	<filter-name>EncodeFilter</filter-name>
    	<filter-class>hao1234.web.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    	<filter-name>EncodeFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    	<filter-name>HtmlFilter</filter-name>
    	<filter-class>hao1234.web.filter.HtmlFilter</filter-class>
  </filter>
  <filter-mapping>
    	<filter-name>HtmlFilter</filter-name>
   	 	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    	<filter-name>TransationFilter</filter-name>
    	<filter-class>hao1234.web.filter.TransationFilter</filter-class>
  </filter>
  <filter-mapping>
    	<filter-name>TransationFilter</filter-name>
   	 	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>hao1234.web.client.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>IndexServlet</servlet-name>
  		<url-pattern>/client/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>BuyServlet</servlet-name>
  		<servlet-class>hao1234.web.client.BuyServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  		<servlet-name>BuyServlet</servlet-name>
  		<url-pattern>/client/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>LoginServlet</servlet-name>
  		<servlet-class>hao1234.web.client.LoginServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  		<servlet-name>LoginServlet</servlet-name>
  		<url-pattern>/client/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>OrderServlet</servlet-name>
  		<servlet-class>hao1234.web.client.OrderServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  		<servlet-name>OrderServlet</servlet-name>
  		<url-pattern>/client/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>RegisterServlet</servlet-name>
  		<servlet-class>hao1234.web.client.RegisterServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  		<servlet-name>RegisterServlet</servlet-name>
  		<url-pattern>/client/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>